// ========================================
// VARIABLES
// ========================================

$background-color: #fff;
$base-font-color: #444f5a;
$weak-font-color: #9f9f9f;
$border-color: #bad7df;
$header-background-color: #bad7df;
$footer-background-color: #e6a4b4;
$page-title-color: #fce38a;
$emphasized-color: #FFD0AE;
$anchor-and-inlinecode-color: #e03d3e;
$link-button-background-color: #fae3d9;
$link-button-hover-background-color: #ea907a;

// ========================================
// GLOBAL
// ========================================

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  color: $base-font-color;
}

html {
  font-family: 'Poppins';
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: $background-color;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

p, li {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 2rem;
}

main {
  min-height: 100vh;
}