// ========================================
// VARIABLES
// ========================================

$background-color: #fff;
$base-font-color: #444f5a;
$weak-font-color: #9f9f9f;
$border-color: #ca8585;
$mono-background-color: #eeeded;
$gradient-background-color: linear-gradient(20deg, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
$footer-background-color: #fce38a;
$index-title-link-color: $border-color;
$page-title-color: #bad7df;
$emphasized-color: $footer-background-color;
$nav-hover-color: $border-color;
$button-color: $page-title-color;
$tags-color: $mono-background-color;
$inlinecode-color: #e03d3e;
$markdown-link-font-color: $inlinecode-color;
$markdown-link-hover-color: #07689f;

$base-font-family: -apple-system, BlinkMacSystemFont, 'Poppins';
$index-title-font-family: -apple-system, BlinkMacSystemFont, 'Montserrat';
$title-font-family: -apple-system, BlinkMacSystemFont, 'Montserrat Alternates';
$text-font-family: -apple-system, BlinkMacSystemFont, 'Open Sans';

// ========================================
// MIXIN
// ========================================

@mixin footer() {
  position: relative;
  background-color: $footer-background-color;
}

@mixin emphasized() {
  font-style: italic;
  font-weight: bold;
  background: linear-gradient(180deg, $background-color 50%, $emphasized-color 50%);
  padding: 0 4px;
}

// ========================================
// GLOBAL
// ========================================

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  color: $base-font-color;
}

html {
  font-family: $base-font-family;
  box-sizing: border-box;
}

body {
  background-color: $background-color;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

p, li {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 2rem;
}

main {
  min-height: 50vh;
}