@import 'base';

@mixin header () {
  position: relative;
  width: 100%;
  // background-color: $header-background-color;
}

@mixin footer () {
  position: relative;
  width: 100%;
  background-color: $footer-background-color;
}

// ========================================
// BORDER FRAME
// ========================================

.border-frame {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  box-shadow: inset 0 0 0 12px $border-color;
  z-index: 100;
  pointer-events: none;
}

// ========================================
// NAV
// ========================================

nav {
  width: 100%;
  height: 10rem;
  position: fixed;
  top: 2vh;
  left: 1.3vw;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem;
  font-family: 'Yanone Kaffeesatz';
}

.logo {
  width: 5rem;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;

  li {
    margin: 0 1rem 0.7rem 0;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5rem;

    a {
      text-transform: uppercase;
      color: rgba(0,0,0,0.7);

      &:hover {
        color: $link-button-hover-background-color;
      }
    }
  }
}

// ========================================
// HEADER
// ========================================

.index-header {
  @include header;
  height: 70vh;
  background-color: $header-background-color;
}

.base-header {
  @include header;
  height: 30vh;
}

.main-title {
  width: 50%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 3rem;
    font-weight: 800;
  }

  a {
    color: #a56cc1;

    &:hover {
      color: #7726a0;
      background: linear-gradient(180deg, $header-background-color 50%, $emphasized-color 50%);
    }
  }

  p {
    font-size: 1.3rem;
  }
}

.page-title {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;

  h1 {
    font-size: 3.5rem;
    background: linear-gradient(180deg, $background-color 60%, $page-title-color 60%);
  }
}

.header-wave-divider {
  display: block;
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  bottom: -1px;
}

.header-scallop-divider {
  width: 100%;
  height: 30px;
  background: -webkit-gradient(radial, 50% 0, 10, 50% 0, 40, from($header-background-color), color-stop(0.49, $header-background-color), color-stop(0.51, #fff), to(white));
  -webkit-background-size: 49px 100%;
}

// ========================================
// CONTAINER
// ========================================

.container {
  width: 90vw;
  height: 100%;
  margin: 0 auto 5rem;
}

// ========================================
// FOOTER
// ========================================

.index-footer {
  @include footer;
  min-height: 50vh;
}

.base-footer {
  @include footer;
  min-height: 40vh;
}

.footer-wave-divider {
  // display: block;
  // position: absolute;
  width: 100%;
  // height: auto;
  // top: -1px;
  // left: 0;
}

.footer-scallop-divider {
  width: 100%;
  height: 30px;
  background: -webkit-gradient(radial, 50% 100%, 10, 50% 100%, 40, from($footer-background-color), color-stop(0.49, $footer-background-color), color-stop(0.51, #fff), to(white));
  -webkit-background-size: 49px 100%;
  margin-bottom: 2rem;
}

.footer-text-box {
  width: 80vw;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 3rem;

  .footer-quote {
    font-family: 'Parisienne';
    font-size: 1.7rem;
    margin-bottom: 2rem;
  }

  img {
    width: 1.5rem;
    margin: 0 0.2rem;
  }
}

// ========================================
// MEDIA QUERIES
// ========================================

@media screen and (max-width: 600px) {
  nav {
    display: none;
  }
}