@import 'global';

// ========================================
// BORDER FRAME
// ========================================

.border-frame {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  box-shadow: inset 0 0 0 12px $border-color;
  z-index: 10;
  pointer-events: none;
}

// ========================================
// CONTAINER
// ========================================

// .container {
//   width: 100vw;
//   max-width: 1300px;
// }

// ========================================
// NAV
// ========================================

.logo, .nav-bar {
  position: fixed;
  top: 25px;
  z-index: 10;
}

.logo {
  width: 5rem;
  left: 25px;
}

.nav-bar {
  right: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  li {
    font-family: 'Yanone Kaffeesatz';
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.7rem;
    margin-bottom: .5rem;

    a:hover {
      color: $nav-hover-color;
      font-size: 1.7rem;
      line-height: 1.5rem;
      transition: all 200ms;
    }
  }
}

// ========================================
// HEADER
// ========================================

.index-header {
  position: relative;
  height: 70vh;
  background-color: $mono-background-color;
  background-image: $gradient-background-color;
}

.page-header {
  position: relative;
  height: 30vh;
}

.index-title-box {
  width: 90vw;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  h1 {
    display: inline;
    font-family: $index-title-font-family;
    font-size: 4rem;
    font-weight: 800;

    a {
      color: $index-title-link-color;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E %3Cpath fill='none' stroke='%239f9f9f' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
      background-position: 0 100%;
      background-repeat: repeat-x;
      background-size: auto 7px;

      &:hover {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ca8585' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
      }
    }
  }
  
  p {
    font-size: 1.4rem;
    margin-top: .7rem;
  }
}

.page-title {
  margin-top: 7rem;
  text-align: center;

  h1 {
    display: inline;
    font-size: 3.5rem;
    text-align: center;
    background: linear-gradient(180deg, $background-color 60%, $page-title-color 60%);
  }
}

.header-wave-divider {
  display: block;
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  bottom: -1px;
}

// ========================================
// FOOTER
// ========================================

.index-footer {
  @include footer;
  min-height: 50vh;
}

.page-footer {
  @include footer;
  min-height: 30vh;
}

.footer-scallop-divider {
  width: 100%;
  height: 30px;
  background: -webkit-gradient(radial, 50% 100%, 10, 50% 100%, 40, from($footer-background-color), color-stop(.49, $footer-background-color), color-stop(.51, #fff), to(#fff));
  -webkit-background-size: 49px 100%;
  margin-bottom: 2rem;
}

.footer-text-box {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  * {
    text-align: center;
  }

  .footer-quote {
    font-family: 'Parisienne';
    font-size: 1.7rem;
  }

  p {
    font-size: 1.1rem;
  }

  .footer-icons {
    margin: 2rem 0 1rem;

    img {
      width: 1.8rem;
      // max-height: 1.7rem;
      margin: 0 .5rem;
    }
  }

  .footer-info {
    display: flex;

    p {
      margin: 0 .2rem;
    }

    img {
      width: 1.1rem;
      margin: 0 .2rem;
      margin-bottom: -3px;
    }
  }
}

// ========================================
// MEDIA QUERIES
// ========================================

@media screen and (max-width: 900px) {
  .index-hello {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 800px) {
  .nav-bar {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .footer-text-box {
    .footer-info {
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 550px) {
  .index-title-box {
    width: 80vw;

    h1:nth-child(1) {
      font-size: 2.5rem;
    }

    h1:nth-child(2) {
      font-size: 3rem;
    }
  }
}