@import 'global';

// ========================================
// MAIN
// ========================================

.text-box {
  width: 70%;
  margin: 0 auto;

  h1 {
    font-size: 2.5rem;
  }

  p, ol, ul, li {
    margin: 1rem 0;
  }

  ul {
    list-style: disc;

    li>ul {
      list-style: circle;
      margin-left: 2rem;
    }
  }

  a>img {
    display: inline;
    width: 1.5rem;
    margin: 0 0.5rem;
  }
}

.emphasized {
  font-style: italic;
  font-weight: bold;
  background: linear-gradient(180deg, $background-color 50%, $emphasized-color 50%);
  padding: 0 3px;
}

// ========================================
// SKILLS SECTION
// ========================================

section {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.skills {
  h1 {
    font-size: 3rem;
  }
}

// ========================================
// CONTACT SECTION
// ========================================

section.contact {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h3 {
    font-family: 'Yanone Kaffeesatz';
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  a {
    font-size: 1.5rem;
  }
  
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    label {
      color: $background-color;
    }
  }
}