@import 'base';

// ========================================
// MAIN
// ========================================

.text-box {
  h1 {
    font-size: 2.5rem;
  }

  p, ol, ul, li {
    margin: 1rem 0;
  }

  ul {
    list-style: disc;

    li>ul {
      list-style: circle;
      margin-left: 2rem;
    }
  }

  a>img {
    display: inline;
    width: 1.5rem;
    // background-color: $link-button-background-color;
    // border-radius: 2rem;
    margin: 0 0.5rem;
    // padding: 0.2rem 1rem;
    // transition: all 400ms;

    // &:hover {
      // background-color: $link-button-hover-background-color;
      // color: $background-color;
    // }
  }
}

.emphasized {
  font-style: italic;
  font-weight: bold;
  background: linear-gradient(180deg, $background-color 50%, $emphasized-color 50%);
  padding: 0 3px;
}